<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light  mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span class="fas fa-hotel"></span> Easy Loan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-bar"
                aria-controls="navbar-bar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-bar">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="chart/">Charts</a>
                    <a class="nav-link" href="#">Services</a>
                    <a class="nav-link" href="#">Blog</a>
                    <a class="nav-link" href="#">Contact</a>
                    <a class="nav-link" href="base/">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-md-flex align-items-center justify-content-between pb-3" id="sass">
        <div class="content mb-md-0 mb-5" style="margin-left: 50px; margin-top: 100px; ">
            <p class="h2">The Simple online home Loan</p>
            <p class="line"></p>
            <p class="p2">Financial uncertainty is hard on employees and causes even.</p>
            <div class="btn btn-primary">Our Service</div>
        </div>
        <form style="margin-right: 50px; margin-top: 150px;">
            <div class="d-flex flex-column align-items-center">
                <p class="fs-4 fw-bold m-0 mt-4">How much you want?</p> <span class="text-muted">We provide online
                    instant cash loans.</span> <span class="line my-3"></span>
            </div>
            <div class="row p-0">
                <div class="col-12 p-0 px-4"> <span class="text-uppercase text-muted">amount you want</span> </div>
                <div class="col-12 p-0 px-4"> <select class="form-select d-flex align-items-center my-2" id="amount"
                        aria-label="">
                        <option selected hidden>Select category</option>
                        <option value="100">Category1</option>
                        <option value="200">Category2</option>
                        <option value="300">Category3</option>
                    </select> </div>
                <div class="col-12 p-0 px-4"> <span class="text-uppercase text-muted">month</span> </div>
                <div class="col-12 p-0 px-4"> <select class="form-select d-flex align-items-center my-2" id="amount"
                        aria-label="">
                        <option selected hidden>Select Month</option>
                        <option value="jan">January</option>
                        <option value="feb">Feburary</option>
                        <option value="mar">March</option>
                        <option value="apr">April</option>
                        <option value="may">May</option>
                        <option value="jun">June</option>
                        <option value="jul">July</option>
                        <option value="aug">August</option>
                        <option value="sept">September</option>
                        <option value="oct">October</option>
                        <option value="nov">November</option>
                        <option value="dec">December</option>
                    </select> </div>
                <div class="col-12 p-0 px-4">
                    <div class="d-flex align-items-center my-3"> <span class="text-muted text-uppercase">you have to
                            pay:</span> <span class="c-g ps-1">$ <span id="money"></span></span> </div>
                </div>
                <div class="col-12 p-0 px-4">
                    <div class="btn btn-primary w-100">apply now</div>
                    <div class="text-muted text-center mb-4 mt-3">We provide online instant cash loans</div>
                </div>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<body>
    <div id="container">
        <div id="heading">
            <h1>OUR TEAM</h1>
        </div>
        <div class="item">
            <div class="front">
                <img id="team1" class="team" src="https://www.supercuts.com/content/dam/supercuts/www/models/2017-models/1x1/heroes/supercuts-spencer-hero-hairstyles-classic-fade-1x1.png/_jcr_content/renditions/cq5dam.web.320.320.medium.png">
            </div>
            <div class="back">
                <p class="title">Tom Crow</p>
                <p class="job">Interface Designer</p>
                <a href="#"><i class="fab fa-facebook-square social fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin social fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter-square social fa-2x"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="front">
                <img id="team2" class="team" src="https://www.eikonphoto.com/wp-content/uploads/2017/03/male-headshot-tie-color-e1515795186596.jpg">
            </div>
            <div class="back">
                <p class="title">Tom Crow</p>
                <p class="job">Interface Designer</p>
                <a href="#"><i class="fab fa-facebook-square social fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin social fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter-square social fa-2x"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="front">
                <img id="team3" class="team" src="https://www.ellasophiephoto.com/IMAGES/portraits/Portrait-Photographer-EllaSophie-OaklandStudio.jpg">
            </div>
            <div class="back">
                <p class="title">Tom Crow</p>
                <p class="job">Interface Designer</p>
                <a href="#"><i class="fab fa-facebook-square social fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin social fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter-square social fa-2x"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="front">
                <img id="team4" class="team" src="https://static1.squarespace.com/static/51047986e4b0f96ff4ffc8e0/t/58efb3ba5016e1685c551ae7/1492104152438/Mens-Accessories-Tie-Bow-pocket-square">
            </div>
            <div class="back">
                <p class="title">Tom Crow</p>
                <p class="job">Interface Designer</p>
                <a href="#"><i class="fab fa-facebook-square social fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin social fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter-square social fa-2x"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="front">
                <img id="team5" class="team" src="https://i.pinimg.com/originals/98/c8/0d/98c80de7cee9782322fdca55409bf6bc.jpg">
            </div>
            <div class="back">
                <p class="title">Tom Crow</p>
                <p class="job">Interface Designer</p>
                <a href="#"><i class="fab fa-facebook-square social fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin social fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter-square social fa-2x"></i></a>
            </div>
        </div>
        <div class="item">
            <div class="front">
                <img id="team6" class="team" src="https://i.pinimg.com/originals/85/1e/7a/851e7a776927d4302e637ae511a3e372.jpg">
            </div>
            <div class="back">
                <p class="title">Tom Crow</p>
                <p class="job">Interface Designer</p>
                <a href="#"><i class="fab fa-facebook-square social fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin social fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter-square social fa-2x"></i></a>
            </div>
        </div>
    </div>
</body>

<!-- ////////////////// -->



<!-- // -->
<div class="container-fluid justify-content-center">
    <div class="row py-5">
        <div class="col">
            <div class="card border-0">
                <div class="card-body text-center "><h2><b>Let `s have a chat !</b></h2><p class="pl-0 ml-0 mb-5">Find out what we can do for your business or home.</p>
                    <div class="row text-center justify-content-center"><div class="col-auto"><div class="input-group-lg input-group mb-3 "><input type="text" class="form-control" placeholder="Enter your e-mail address" aria-label="Recipient's username" aria-describedby="button-addon2"><div class="input-group-append"><button class="btn btn-success" type="button" id="button-addon2"> <b>Submit</b></button></div></div></div></div>
                </div>
            </div>
        </div>
    </div><hr class="mx-0 px-0">
    <footer>
        <div class="row justify-content-around mb-0 pt-5 pb-0 ">
            <div class=" col-11">
                <div class="row justify-content-center"> 
                    <div class="col-md-3 col-12 font-italic align-items-center  mt-md-3 mt-4"><h5><span> <img src="https://extendthemes.com/wp-content/uploads/2018/06/xbox-green-min.png" class="img-fluid mb-1 "  ></span><b class="text-dark"> Key<span class="text-muted"> Pass</span></b></h5>
                    <p class="social mt-md-3 mt-2"> <span><i class="fa fa-facebook " aria-hidden="true"></i></span>  <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>  <span><i class="fa fa-twitter" aria-hidden="true"></i></span>  </p>
                    <small class="copy-rights cursor-pointer">&#9400; 2019 EasyGo Digital Technologies</small><br>
                    <small>Copyright.All Rights Resered. </small>
                        
                    </div>
                    <div class="col-md-3 col-12  my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-md-3 mt-4">Our Solution</li><li>Intergrated Security Platform</li><li>Core Features</li><li>Product Features</li><li>Pricing</li></ul></div>
                    <div class="col-md-3 col-12 my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-md-3 mt-4">Your needs</li><li>Intergrated Security Platform</li><li>Core Features</li><li>Product Features</li><li>Pricing</li></ul></div>
                    <div class="col-xl-auto col-md-3 col-12 my-sm-0 mt-5"><ul class="list-unstyled"><li class="mt-md-3 mt-4">Offer</li><li>Intergrated Security Platform</li><li>Core Features</li><li>Product Features</li><li>Pricing</li></ul></div>
                </div>  
            </div>
        </div>            
    </footer>
</div>
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
font-family: 'Montserrat', sans-serif;
}

.container {
margin: 20px auto;
background-color: rgb(246, 243, 238);
padding: 10px 40px;
min-height: 100vh;
color: white;
}

.container nav {
background-color: rgb(246, 243, 238);
height: 50px;

}

.navbar-light .navbar-toggler {
box-shadow: none;
}

.container nav .container-fluid a {
color: white;
}

.container nav .container-fluid a:hover{
color: white;
}

.container nav .container-fluid .navbar-nav a {
color: white;
background-color: #06ad22;
font-size: 12px;
font-weight: 600;
}

.container nav .container-fluid a:hover {
color: wheat;
}

.container nav .container-fluid .navbar-nav a:hover {
background-color: #06ad22;
color: #06ad22;
}

.container nav .fas {
color: #06ad22;
}

.container nav .container-fluid .navbar-nav .nav-link {
margin-right: 15px;

}

.container nav .navbar-nav :last-child {
background-color: #06ad22;
}

.container .content {
max-width: 240px;
}

.container .content .line {
max-height: 10px;
width: 100px;
border-top: 2px solid #06ad22;
}

.container .content .h2 {
color: #06ad22;
font-weight: 600;
}

.container .content .p2 {
color: #06ad22;
font-weight: 600;
}

.container .content .btn.btn-primary {
background-color: transparent;
color: #06ad22;
border: 1px solid #06ad22;
}

.container form {
max-width: 300px;
background-color: white;
}

.container form.line {
max-height: 10px;
width: 100px;
border-top: 2px solid #06ad22;
}

.container form option {
font-size: 14px;
}

.container form .text-muted {
font-size: 12px;
color: #0a0a0a !important;
}

.container form .c-g {
color: #06ad22;
font-weight: 800;
}

.container form .dropdown-toggle::after {
content: '';
border: none;
}

.container form .form-select {
font-size: 14px;
}

.container form .form-select:focus {
box-shadow: none;
border: 1px solid #ddd;
}

.container form .btn.btn-primary {
text-transform: uppercase;
font-size: 14px;
height: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #06ad22;
font-weight: 600;
outline: none;
border: none;
}

@media (max-width:500px) {
body {
    padding: 10px;
}

.container {
    padding: 10px 20px;
}

.container form {
    max-width: 100%;
}
}

/* // */

body{
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
    height: 1000px;
}
#container{
    width: 80%;
    position: relative;
    left: 10%;
    min-height: 100vh;
    width: 1140px;
    margin-left: 191px;
}
#heading{
    width: 100%;
    height: 80px;
    background-color: cadetblue;
    color: white;
    position: relative;
    top: -20px;
}
h1{
    font-family: 'Noto Sans HK', sans-serif;
    text-align: center;
    position: relative;
    top: 25px;
}
.team{
    width: 350px;
    height: 330px;
    border-radius: 8px;
}
.item{
    overflow: hidden;
    width: 33.33335%;
    float: left;
    height: 330px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
}
.front{
    float: left;
    backface-visibility: hidden;
    transform: perspective(600px) rotateX(0deg);
    transition: 1.5s;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
}
.back{
    width: 97%;
    height: 350px;
    background-color:#bcaaa4;
    position: relative;
    top: -350px;
    transform: perspective(600px) rotateX(180deg);
    transition: 1.5s;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 0 35px brown;
    border-radius: 8px;
}
.title{
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 30px;
    color: #f4511e;
}
.job{
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 25px;
}
@keyframes move{
    0%{
        position: relative;
        top: 0px;
    }
    100%{
        position: relative;
        top: 80px;
    }
}
.social{
    position: relative;
    top: 90px;
    color: black;
    margin-right: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    left: 34%;
}
.fa-facebook-square:hover{
    color: #3B558D;
}
.fa-linkedin:hover{
    color: #007BB6;
}
.fa-twitter-square:hover{
    color: #2CAAE1;
}
.item:hover > .front{
    transform: perspective(600px) rotateX(-180deg);
}
.item:hover > .back{
    transform: perspective(600px) rotateX(0deg);
}
@media only screen and (max-width:900px){
    .item{
        width: 49%;
        position: relative;
        left: 3.5%;
    }
    .front, .back{
        width: 90%;
    }
}
@media only screen and (max-width:650px){
    .item{
        width: 100%;
        position: relative;
        left: 0;
    }
    .front, .back{
        width: 100%;
    }
    .team{
        width: 600px;
    }
}
/* // */


@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
font-family: 'Mulish', sans-serif;
height: 100% !important;
background-color: #fff !important;
padding: 0 !important;
margin: 0 !important;
}


.container-fluid{
margin-top: 101px;
color:#000 !important;
}

.card{
color:#757575 !important;
background-color: #fff !important;
align-items: center !important;
background: url('https://i.imgur.com/9djv5sH.jpg');
background-size: contain;
background-repeat:no-repeat;
background-position:  right calc(110px + (150 - 110) * ((100vw - 360px) / (1600 - 360)))  bottom !important;     

}

h2{
font-size: calc(25px + (45 - 25) * ((100vw - 360px) / (1600 - 360))) !important; 
}

h5{
font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
}


.fa{
cursor: pointer;
font-size: 21px ;
margin: 5px 10px 5px 10px !important;
}


button {
font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
padding-left:  calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
padding-top:  calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
padding-bottom:   calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

button:focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
 outline-width: 0
}

#button-addon2{
    height: 50px;
}

.input-group-append{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
}

li{
 margin-top: 10px ;
 margin-bottom: 10px ;
}

input{
 border: 2px solid green !important;
}


.input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea) {
height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important; 
}


input::-webkit-input-placeholder {
padding-left: 5px !important;
transform:translate3d(0,-4px,0)
}

input::placeholder {
vertical-align:middle !important;
font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

input:focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
 outline-width: 0
}

img{
 vertical-align: middle !important;
width: 100%;
height: auto;
width: calc(17px + 6 * ((100vw - 320px) / 680)); 
}

li:first-child {
font-size:  21px !important;
font-weight: bold;
margin-bottom: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important;
color:#757575 !important;

}

footer{ 
color:#757575 !important;
}

.social{
position: relative;
left: -10px;
}

.cursor-pointer{
cursor: pointer !important;
color:green;
font-weight: bold;
}
</style>
<!-- {% include 'load.html' %} -->